/* css variables */
:root {
  --main-bg-color: rgb(204, 224, 206);
  --main-header-color: rgb(55, 90, 111);
  --main-button-color: rgb(55, 90, 111);
  --main-button-h-color: rgb(141, 179, 202);
  --main-section-bgcolor:rgb(204, 216, 224);
  --h6-font:'Source Sans Pro', sans-serif;
  --h6-color:rgb(255, 255, 255);
  --h2-font: 'Calligraffitti';
  --h2-color:rgb(199, 160, 61);
  --h4-color:rgb(199, 160, 61);
  --h5-color:rgb(7, 5, 0);
  --main-paragraph-font: 'Source Sans Pro', sans-serif;
  --main-paragraph-color:white; 
  --Hover-barcolor:rgb(199, 160, 61);
  --nav-color:rgb(55, 90, 111);

  }

.portfolio{
  display: flex;
  flex-wrap: wrap;
}
p{
  font-family:var(--main-paragraph-font);
  color: var(--main-paragraph-color);
  line-height: 35px;
  letter-spacing: .2px;
  font-weight: 100;
  font-size: 25px;
}
* {
 box-sizing: border-box;
    margin:0;
    padding:0;
   
}

h1 {
  width:500px;
}
h2 {
  font-family: var(--h2-font);
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--h2-color);
}

h4 {
  font-family: var(--h2-font);
  font-weight: 100;
  font-size: 24px;
  color:var(--h4-color);
  text-transform: lowercase;}
  h5 {
    font-family: var(--h2-font);
    font-weight: 100;
    font-size: 18px;
    color:var(--h5-color);
    }
  
h6 {
  font-weight:700;
  letter-spacing: .7px;
  font-family: var(--h6-font);
  text-transform: uppercase;
  color: var(--h6-color);
  margin-left:20px;
}

body{
  /* background:var(--main-section-bgcolor); */
  font-family:var(--main-paragraph-font-family);
  background:transparent;
}
.wrap{
  width:100%;
}



/* make the image round */

.main-header {
  background:var(--main-header-color);
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
    /* align-items: center aligns the text in the center horizontally */
  align-items: center;  

   font-family:var(--main-paragraph-font-family);
    color:rgb(10, 0, 0);
  height:auto;

}

.main-header .profile-image{
  float:left;
  height:100px;
  width:100px;
  border-radius: 50%;
  box-shadow: 4px 4px 6px black;
  margin:10px;
  

}


.main-header figure h1{
  text-transform:lowercase;
  font-size:40px;
  margin-left:20px;
}

.main-header h1,h2{
  text-shadow: 2px 1px #0e0000;
  margin-left:20px;
}
figure{
color:white;
font-size: 20px;
float:left;

}   
figure .lastn{
  color: var(--h2-color);

}

#name{
  padding-top:30px;
}
nav  {
  text-transform:uppercase;
  text-align: center;
   font-family:var(--main-paragraph-font-family);
  background:var(--nav-color);
  width:600px;
  height:60px;
  font-weight: 100;
  justify-content: right;
  
  }
  
  nav ul{
    
    list-style:none;
    margin-left:10px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 1.7em 0;
  
  }
  
  nav li a{
    font-size:18px;
    text-decoration: none;
    color:white;
    /* to space out the words */
    padding-right:5em;
    position:relative;
    transition: all ease-in-out 250ms;
  }
  nav li a::after{
    content:'';
    position:absolute;
    display:block;
    width:0%;
    height:0.1em;
    margin-left:20px;
    background-color: var(--Hover-barcolor);
    /* bottom: -.3em; */
    transition: all ease-in-out 250ms;
  }
  nav li a:hover::after{
    width:110%;
  }
  nav li a:hover{
    color:var(--Hover-barcolor);
  }


.all-biotext {
display: flex;
  position: relative; 
  width: 100%;

margin: 0 auto;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.biotext{
  position: relative;
  display:inline-block;
  text-align: center;
width:500px;
height:auto;
}

.biotext a{
 text-decoration: none;
}

.biotext a:visited{
  font-weight: bolder;
  color:rgb(164, 195, 233);
 }
 
 
.biotext a:hover{
  font-weight: bolder;  
  color:orange;
 }
 .biotext a{
  font-weight: bolder;
  color:rgb(211, 228, 212);
 }

.all-biotext .biotext h1{
 color:var(--h2-color);
 font-size:25px;
 text-align: left;
 margin:10px;

}

 .biotext p{

border-top: 1px solid rgb(255, 255, 255);
padding:20px;
 font-size: 20px;
 }


.all-biotext h2 {
  font-family: var(--h2-font);
  position: relative;
  width:96%;
  text-transform: capitalize;
  color:white;  
  font-size: 1.9rem;
  font-weight:500;
  line-height: 1.4;
  font-weight: lighter;
  text-align: center;
  box-shadow: 1px 1px 6px;
border-bottom:1px solid #f3f1ee;
 
 
  /* border-right: 2px solid rgb(255, 255, 255); */
  margin:10px;
  
  }

.all-biotext .biotext p{
  text-align: left;
  margin:10px;
}
.all-biotext::before {    
    content: "";
    background-image: url("../images/background-1.jpeg"); 
    /* background: black; */
    background-size: cover;
  
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.9;
   
}



.all-biotext .biotext img{
  width:330px;
  text-align: center;
  height:auto;
  box-shadow: 4px 1px 10px;
}



/* main container */
.container{
  /* background:var(--main-section-bgcolor); */
  width:95%;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;

 
}
.sub-container{
  /* background: rgb(235, 222, 222); */
  display:block;
  width:290px;
  text-align: left;
  padding:20px;
}
.sub-container p{
  line-height: 30px;
  letter-spacing: .2px;
  font-weight: lighter;
  font-size: 18px;
  color:black;
}


.main-footer {
  font-family:var(--main-paragraph-font-family);
  background:var(--main-header-color);
  font-size: 12px;
  text-align: center;
  height:60px;
  padding-top:15px;
 
 color:white;
 align-items: center;


}
.main-footer p{
font-size: 14px;
  text-align:center;
}

.form-container{
  font-size:24px;
  text-align: left;
  color:rgb(255, 255, 255);
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical ;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--main-button-h-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--main-button-color);
}


/* ipad air landscape*/
@media only screen and (max-width: 768px) {
 /* css variables */
 
/* css variables */

p{
  font-family:var(--main-paragraph-font);
  color: var(--main-paragraph-color);
  line-height: 35px;
  letter-spacing: .2px;
  font-weight: 100;
  font-size: 25px;
}
* {
 box-sizing: border-box;
    margin:0;
    padding:0;
   
}

h1 {
  width:300px;
}
h2 {
  font-family: var(--h2-font);
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--h2-color);
}

h4 {
  font-family: var(--h2-font);
  font-weight: 100;
  font-size: 24px;
  color:var(--h4-color);
  text-transform: uppercase;}
  h5 {
    font-family: var(--h2-font);
    font-weight: 100;
    font-size: 18px;
    color:var(--h5-color);
    }
  
h6 {
  font-weight: lighter;
  letter-spacing: .7px;
  font-family: var(--h6-font);
  text-transform: uppercase;
  color: var(--h6-color);
  margin-left:20px;
}

body{
  /* background:var(--main-section-bgcolor); */
  font-family:var(--main-paragraph-font-family);
}
.main-header {
  background:var(--main-header-color); 
  justify-content:center;
    /* align-items:aligns the text in the center horizontally */
  align-items: center;  

   font-family:var(--main-paragraph-font-family);
    color:rgb(10, 0, 0);
  height:auto;

}

.main-header .profile-image{
  float:left;
  height:100px;
  width:100px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px black;
  margin-left:30px;

}

/* main header - top content */
.main-header figure h1{
  width:520px;
  text-transform:lowercase;
  font-size:40px;
}

.main-header h1,h2{
  text-shadow: 2px 1px #0e0000;
  margin-left:20px;
}
figure{
color:white;
font-size: 20px;
float:left;

}   
figure .lastn{
  color: var(--h2-color);

}

#name{
  padding-top:20px;
}
nav  {
  text-transform:uppercase;
  text-align: center;
   font-family:var(--main-paragraph-font-family);
  background:var(--nav-color);
  width:720px;
  height:60px;
  font-weight: 100;
  justify-content: center;
  
  }


}


    @media only screen and (max-width: 500px) {
      /* css variables */
      
     /* css variables */
     
     
     p{
       font-family:var(--main-paragraph-font);
       color: var(--main-paragraph-color);
       line-height: 35px;
       letter-spacing: .2px;
       font-weight: 100;
       font-size: 25px;
     }
     * {
      box-sizing: border-box;
         margin:0;
         padding:0;
        
     }
     
     h1 {
       width:300px;
     }
     h2 {
       font-family: var(--h2-font);
       font-weight: 100;
       font-size: 12px;
       text-transform: uppercase;
       color: var(--h2-color);
     }
     
     h4 {
       font-family: var(--h2-font);
       font-weight: 100;
       font-size: 24px;
       color:var(--h4-color);
       text-transform: uppercase;}
       h5 {
         font-family: var(--h2-font);
         font-weight: 100;
         font-size: 18px;
         color:var(--h5-color);
         }
       
     h6 {
       font-weight: lighter;
       letter-spacing: .7px;
       font-family: var(--h6-font);
       text-transform: uppercase;
       color: var(--h6-color);
       margin-left:20px;
     }
     
     body{
       /* background:var(--main-section-bgcolor); */
       font-family:var(--main-paragraph-font-family);
       background: transparent;
     
     }
     
     /* make the image round */
     
     .main-header {
       background:var(--main-header-color);
       /* display:display; */
       justify-content:center;
      
         /* align-items: center aligns the text in the center horizontally */
       align-items: center;  
     
        font-family:var(--main-paragraph-font-family);
         color:rgb(10, 0, 0);
       height:auto;
     
     }
     
     .main-header .profile-image{
       float:left;
       height:100px;
       width:100px;
       border-radius: 50%;
       box-shadow: 4px 4px 8px black;
       margin-left:20px;
     
     }
     
     /* main header - top content */
     .main-header figure h1{
       width:390px;
       text-transform:lowercase;
       font-size:40px;
     }
     
     .main-header h1,h2{
       text-shadow: 2px 1px #0e0000;
       margin-left:10px;
     }
     figure{
     color:white;
     font-size: 20px;
     float:left;
     
     }   
     figure .lastn{
       color: var(--h2-color);
     
     }
     
     #name{
       padding-top:30px;
     }
     nav  {
       text-transform:uppercase;
       text-align: center;
        font-family:var(--main-paragraph-font-family);
       background:var(--nav-color);
       width:500px;
       height:60px;
       font-weight: 100;
       justify-content: right;
       
       }
  /* name */
       .main-header figure h1{
        text-transform:lowercase;
        font-size:30px;
        margin-left:20px;
      }
  

    }



      @media only screen and (max-width: 375px) {
        h1 {
          width:300px;
        }
       .all-biotext .biotext h2{
         font-size:20px;
       }
       .all-biotext .biotext h4{
        font-size:14px;
      }
       .main-header .profile-image{
         float:left;
         height:60px;
         width:60px;
         border-radius: 50%;
         box-shadow: 4px 4px 8px black;
         margin-left:30px;
       
       }
       
       /* main header - top content */
       .main-header figure h1{
         width:340px;
         text-transform:lowercase;
         font-size:14px;
       }
       
       .main-header h1,h2{
         text-shadow: 2px 1px #0e0000;
         margin-left:10px;
       }

       .main-header h6{
        font-size:9px;
      }

       figure{
       color:white;
       font-size: 20px;
       float:left;
       
       }   
       figure .lastn{
         color: var(--h2-color);
       
       }
       
       #name{
         padding-top:10px;
       }
     
    /* name */
         .main-header figure h1{
          text-transform:lowercase;
          font-size:25px;
          margin-left:10px;
        }


        .all-biotext .biotext img{
          width:200px;
          text-align: center;
          height:auto;
          box-shadow: 4px 1px 10px;
        }

        .biotext{
          position: relative;
          display:inline-block;
          text-align: center;
        width:320px;
        height:auto;
        }


        nav  {
          text-transform:lowercase;
          text-align: center;
           font-family:var(--main-paragraph-font-family);
          background:var(--nav-color);
          width:320px;
          height:60px;
          font-weight: 100;
          justify-content: center;
          
          }

          nav ul{
            
            list-style:none;
            margin-left:10px;
            display:flex;
            justify-content:center;
            align-items:center;
            padding: 1.em 0;
          
          }
          
          nav li a{
            font-size:16px;
            text-decoration: none;
            color:white;
            /* to space out the words */
            padding-right:2em;
            position:relative;
            transition: all ease-in-out 250ms;
          }
          nav li a::after{
            content:'';
            position:absolute;
            display:block;
            width:0%;
            height:0.1em;
            margin-left:10px;
            background-color: var(--Hover-barcolor);
            /* bottom: -.3em; */
            transition: all ease-in-out 250ms;
          }
          nav li a:hover::after{
            width:110%;
          }
          nav li a:hover{
            color:var(--Hover-barcolor);
          }

}

 @media only screen and (max-width: 275px) {
      
       
       
       .main-header .profile-image{
         float:left;
         height:60px;
         width:60px;
         border-radius: 50%;
         box-shadow: 4px 4px 8px black;
         margin-left:10px;
       
       }
       
       /* main header - top content */
       .main-header figure h1{
         width:260px;
         text-transform:lowercase;
         font-size:14px;
       }
       
       .main-header h1,h2{
         text-shadow: 2px 1px #0e0000;
         margin-left:10px;
       }

       .main-header h6{
        font-size:9px;
      }

       figure{
       color:white;
       font-size: 20px;
       float:left;
       
       }   
       figure .lastn{
         color: var(--h2-color);
       
       }
       
       #name{
         padding-top:10px;
       }
     
    /* name */
         .main-header figure h1{
          text-transform:lowercase;
          font-size:20px;
          margin-left:10px;
        }


        .all-biotext .biotext img{
          width:200px;
          text-align: center;
          height:auto;
          box-shadow: 4px 1px 10px;
        }
        nav  {
          text-transform:lowercase;
          text-align: center;
           font-family:var(--main-paragraph-font-family);
          background:var(--nav-color);
          width:260px;
          height:60px;
          font-weight: 100;
          justify-content: center;
          
          }




          
          nav ul{
            
            list-style:none;
            margin-left:10px;
            display:flex;
            justify-content:center;
            align-items:center;
            padding: 1.em 0;
          
          }
          
          nav li a{
            font-size:16px;
            text-decoration: none;
            color:white;
            /* to space out the words */
            padding-right:2em;
            position:relative;
            transition: all ease-in-out 250ms;
          }
          nav li a::after{
            content:'';
            position:absolute;
            display:block;
            width:0%;
            height:0.1em;
            margin-left:10px;
            background-color: var(--Hover-barcolor);
            /* bottom: -.3em; */
            transition: all ease-in-out 250ms;
          }
          nav li a:hover::after{
            width:110%;
          }
          nav li a:hover{
            color:var(--Hover-barcolor);
          }

}

