/* css variables */
:root {
  --main-bg-color: rgb(204, 216, 224);; 
  --main-header-color: rgb(55, 90, 111);
  --main-section-bgolor:rgb(204, 216, 224);
  --h6-color:rgb(233, 206, 136);
  --h2-color:rgb(199, 160, 61);
  --main-paragraph-font-family: Helvetica,sans-serif;
  
  }

p{
  font-family:var(--main-paragraph-font-family);
  line-height: 35px;
  letter-spacing: .2px;
  font-weight: 100;
  font-size: 20px;
}
* {
 box-sizing: border-box;
    margin:0;
    padding:0;
   
}

body{
  background:var(--main-bg-color);
  font-family:var(--main-paragraph-font-family);

}
h1 {
  width:500px;
}

h6 {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--h6-color);
  margin-left:20px;
}
h2 {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--h2-color);
}
.main-header figure h1{
  margin-left:20px;
}
/* make the image round */
.profile-image{
  height:100px;
  width:100px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px;

}
.main-header {
  background:var(--main-header-color);
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
    /* align-items: center aligns the text in the center horizontally */
  align-items: center;  
   padding-left:20px;
   font-family:var(--main-paragraph-font-family);
    text-transform:lowercase;
    color:rgb(10, 0, 0);

 
}
.main-header h1,h2{
  margin-left:40px;
}
figure{
color:white;
font-size: 20px;


}   

.all-biotext {
display: flex;
  position: relative; 
  width: 100%;

margin: 0 auto;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.biotext{
  position: relative;
  display:inline-block;
  text-align: center;
width:500px;
height:auto;
}
.all-biotext .biotext h1{
 color:black;
 font-size:20px;
 text-align: left;
 margin:10px;
}
.all-biotext .biotext p{
  text-align: left;
  margin:10px;
}
.all-biotext::before {    
    content: "";
    background-image: url("../images/portfolio-background.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.all-biotext h2 {
position: relative;
width:100%;
color:white;  
font-size: 1.3rem;
font-weight:900;
line-height: 1.4;
text-align: center;
text-shadow: 2px 2px #180101;
/* border-right: 2px solid rgb(255, 255, 255); */
margin:10px;

}

.all-biotext .biotext img{
  width:330px;
  text-align: center;
  height:auto;
  box-shadow: 4px 4px 4px;
}

nav  {
text-align: center;
word-spacing: 20px;
    font-family:var(--main-paragraph-font-family);
    background:transparent ;
    width:500px;
    padding:20px;
 

}


/* unvisited link */
a:link {
 
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:rgb(233, 206, 136);

}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */


nav ul li:hover{
    background-color: azure; 
    padding:20px;
    color:black;
   
  }


nav ul li {
  font-family:var(--main-paragraph-font-family);
display: inline;
text-transform: uppercase;
list-style: none;
}


/* main container */
.container{
  background:var(--main-section-bgolor);
  width:95%;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;

 
}
.sub-container{
  display:block;
  width:350px;
  text-align: left;
  padding:20px;
}
.sub-container p{
  line-height: 30px;
  letter-spacing: .2px;
  font-weight: lighter;
  font-size: 18px;
}


.main-footer {
  font-family:var(--main-paragraph-font-family);
  background:var(--main-header-color);
  font-size: 12px;
  text-align: center;
  height:60px;
  padding-top:15px;
 
 color:white;
 align-items: center;


}
.main-footer p{

  text-align:center;
}